* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: #f0f0f0;
}


section{
    width: 80%;
    margin: 80px auto;
    border-bottom: 2px solid #1e5e6e ;

}


.title{
    text-align: center;
    font-size: 4vmin;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-bottom: 2px solid  #1e5e6e ;
}

.box-1 {
    display: flex;
    align-items: flex-start; /* Alinha a imagem e o texto no topo */
    gap: 20px; /* Espaço entre os elementos */
    margin-bottom: 20px; /* Espaço abaixo do container */
    padding: 20px; /* Espaço interno do container */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra do container */
    background-color: #f9f9f9; /* Cor de fundo do container */
    flex-wrap: wrap; /* Permite que o conteúdo envolva quando necessário */
}

.box-1 .img1 {
    width: 500px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 500px;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas da imagem */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra da imagem */
}

.box-1 p {
    margin: 0; /* Remove a margem padrão do parágrafo */
    line-height: 1.8; /* Melhora a legibilidade do texto */
    font-size: 16px; /* Tamanho da fonte do parágrafo */
    color: #333; /* Cor do texto */
    font-family: 'Arial', sans-serif; /* Fonte do texto */
    max-width: 600px; /* Largura máxima do parágrafo */
    flex: 1; /* Permite que o parágrafo ocupe o espaço disponível entre as imagens */
}

.box-1 .img2 {
    width: 500px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 500px;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas da imagem */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra da imagem */
}
.box-1 .img3 {
    width: 500px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 500px;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas da imagem */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra da imagem */
}



/* Estilos gerais para o footer */
footer {
    background-color: #08303f; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto no rodapé */
    padding: 50px 20px; /* Padding interno para espaçamento */
    margin-top: 10px;
}

.container-footer {
    max-width: 1140px; /* Largura máxima do container */
    margin: auto; /* Centraliza o container */
    display: flex; /* Flexbox para layout de colunas */
    justify-content: space-between; /* Espaçamento uniforme entre colunas */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

.footer-content {
    flex: 1; /* Cada coluna ocupa o mesmo espaço */
    margin: 0 15px; /* Espaçamento lateral entre colunas */
    padding: 0 15px; /* Padding interno para espaçamento */
    text-align: center; /* Centraliza o texto dentro de cada coluna */
}

.footer-content h3 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 15px; /* Espaço abaixo do título */
}

.footer-content p {
    margin: 0 0 10px; /* Margens para os parágrafos */
    padding: 5px 0; /* Padding interno para parágrafos */
}

.footer-content ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding padrão */
    margin: 0; /* Remove margens padrão */
    text-align: center; /* Centraliza o texto da lista */
}

.footer-content ul li {
    margin-bottom: 10px; /* Espaço entre itens da lista */
}

.footer-content ul li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: white; /* Cor dos links */
    font-size: 16px; /* Tamanho da fonte dos links */
}

.footer-content ul li a:hover {
    color: #1e5e6e; /* Cor dos links ao passar o mouse */
}
.footer-content li a{
    color:white;
}
/* Estilos para ícones sociais */
.footer-content .social-icons {
    margin: 20px 0; /* Espaço ao redor dos ícones sociais */
}

.social-icons {
    display: flex; /* Flexbox para alinhar os ícones sociais horizontalmente */
    justify-content: center; /* Centraliza os ícones sociais */
    padding: 0; /* Remove padding */
}

.social-icons i {
    color: white; /* Cor dos ícones sociais */
    font-size: 25px; /* Tamanho dos ícones sociais */
    margin: 0 10px; /* Espaço entre os ícones sociais */
}

.social-icons i:hover {
    color: #1e5e6e; /* Cor dos ícones ao passar o mouse */
}

.bottom-bar {
    background-color: #08303f; /* Cor de fundo da barra inferior */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Padding interno para espaçamento */
    margin-top: 50px; /* Espaço acima da barra inferior */
}

.bottom-bar p {
    color: white; /* Cor do texto na barra inferior */
    margin: 0; /* Remove margens padrão */
    font-size: 16px; /* Tamanho da fonte */
    padding: 7px; /* Padding interno para espaçamento */
}

/* Estilos responsivos para o footer */
@media (max-width: 768px) {
    .container-footer {
        flex-direction: column; /* Alinha colunas verticalmente em telas menores */
        text-align: center; /* Centraliza o texto */
    }

    .footer-content {
        margin-bottom: 30px; /* Espaço entre as colunas */
    }
}

@media (max-width: 480px) {
    .footer-content h3 {
        font-size: 20px; /* Ajusta o tamanho da fonte do título */
    }

    .footer-content p {
        font-size: 14px; /* Ajusta o tamanho da fonte dos parágrafos */
    }

    .footer-content ul li a {
        font-size: 14px; /* Ajusta o tamanho da fonte dos links */
    }

    .social-icons i {
        font-size: 20px; /* Ajusta o tamanho dos ícones sociais */
    }
}


nav {
    background: #08303f;
    height: 80px;
    width: 100%;
    position: relative;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    display: inline-block;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 1px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #1e5e6e;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* Estilo para o artigo "quem-somos" */
.quem-somos {
    max-width: 800px; /* Limita a largura do conteúdo para melhorar a legibilidade */
    margin: 0 auto; /* Centraliza o artigo na página */
    padding: 20px; /* Adiciona espaçamento interno ao artigo */
    background-color: #efeded; /* Cor de fundo suave para o artigo */
    border-radius: 8px; /* Arredonda os cantos do artigo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil ao redor do artigo */
}

.quem-somos header {
    padding: 20px; /* Adiciona espaçamento interno ao cabeçalho */
}

.quem-somos h1 {
    font-size: 2rem; /* Define o tamanho da fonte para o título */
    color: #333; /* Cor do texto do título */
    margin-bottom: 15px; /* Espaço abaixo do título */
    text-align: center; /* Centraliza o título */
}

.quem-somos p {
    font-size: 1rem; /* Tamanho da fonte dos parágrafos */
    line-height: 1.6; /* Espaçamento entre linhas para melhor legibilidade */
    color: #666; /* Cor do texto dos parágrafos */
    margin-bottom: 15px; /* Espaço abaixo dos parágrafos */
    text-align: justify; /* Justifica o texto dos parágrafos */
}

/* Estilo para o primeiro parágrafo específico, se necessário */
.quem-somos p:first-of-type {
    margin-top: 0; /* Remove a margem superior do primeiro parágrafo */
}

/* Estilo para o último parágrafo específico, se necessário */
.quem-somos p:last-of-type {
    margin-bottom: 0; /* Remove a margem inferior do último parágrafo */
}

.row{
    width: 100px;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    overflow: hidden;
}