/* CODE SESSION TO SEARCH
  - MENU SESSION
  - MAIN SESSION

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth; /* Adiciona rolagem suave */
}
body {
  background-color: #fcfafa;
}

// .espaco{
//   padding: 130px ;
// }
#app {
  padding: 0;
  position: relative;
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
// MENU SESSION
  .menu {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 10px 0px 0px 0px;
    background-color: #fcfafa;

    .logo {
      max-width: 100%;
      padding: 25px;
      height: 80px;
      text-align: center;
      border-radius: 50px;
      display: flex;
      align-items: center;
      font-size: 2.5rem;
    }

    .menu-nav {
      background-color: #08303f;
      padding: 0 50px;
      border-bottom-left-radius: 80px;
      border-top-left-radius: 80px;
      width: 1000px;
      height: 80px;
      display: flex;
      justify-content: start;
      animation: 1s forwards slideLeft;

      .nav-lista {
        display: flex;

        .nav-item {
          max-width: 100%;
          text-align: start;
          display: flex;
          align-items: center;
          max-height: 100%;

          .item-link {
            color: #ffffff;
            font-size: 1rem;
            max-width: 100%;
            font-weight: 600;
            padding: 20px;
            display: flex;
            align-items: center;
            text-transform: uppercase;

            .fa-brands {
              margin: 4px;
              color: #25d366;
            }
          }

          &:hover {
            background-color: #1e5e6e;
          }
        }
      }

      @keyframes slideLeft {
        0% {
          transform: perspective(300px) translateX(100vw);
        }
        100% {
          transform: perspective(400px) translateX(0vw);
        }
      }
    }
  }

// MAIN SESSION
  .main-container {
    margin-bottom: 1000px;

    .main-titulo {
      text-align: center;
      font-size: 3.5rem;
      text-transform: capitalize;
      padding-bottom: 60px;

    }

    .main-conteudo {
      display: grid;
      grid-template-columns: 400px 400px;
      gap: 20px;
      justify-content: center;
      width: 100%;

      .scroll-imgs {
        width: 100%;
        height: 400px; /* Defina a altura para mostrar uma imagem por vez */
        overflow-y: scroll;
        scroll-snap-type: y mandatory; /* Adiciona o efeito de snap */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border-radius: 1px;

        .lista-img {
          list-style-type: none;
          padding: 0;
          margin: 0;


          .item-img {
            scroll-snap-align: start; /* Garante que o item comece no início do container */
            height: 400px; /* A altura deve corresponder ao container */

            .img {
              width: 100%;
              height: 400px;
          }
        }
      }
      &::-webkit-scrollbar{
        width: 10px;
      }
      &::-webkit-scrollbar-track{
        background: transparent;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb{
        background: #08303f;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
          background: #1e5e6e;
        }
      }
    }
    .conteudo {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .titulo-conteudo{
        z-index: -1;
        text-align: start;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        opacity: 0;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        &.fade-in {
          opacity: 1;
          // transform: translateY(0);
        }
        &.fade-out {
          opacity: 0;
          // transform: translateY(-10px);
        }
        &::after{
          width: 100px;
          height: 5px;
          background-color: #08303f;
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0px;
          // border-radius: 10px;
        }
      }
      .texto-da-img {
        opacity: 0;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

        &.fade-in {
          opacity: 1;
          // transform: translateY(0);
        }
        &.fade-out {
          opacity: 0;
          // transform: translateY(-10px);
        }
      }
    }
    }
    &::before{
      content: "";
      display: block;
      padding: 60px;
      margin-top: 20px;
    }
  }
}